# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.env
.venv
env/
venv/

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# DVC internal
.dvc/cache/
.dvc/tmp/

# DVC-tracked artifacts - IGNORE everything and track only .dvc files
data/*
!data/*.dvc

metrics/*
!metrics/**/metrics.json  # keep only metrics.json SMALL files
!metrics/**/.gitignore    # keep ignore files
# ignore residuals and pngs
metrics/**/*.png
metrics/**/residuals.png

models/*
!models/*.dvc   # allow only DVC files to be tracked, ignore .pkl and others

# MLflow - ignore model binaries
mlruns/**/artifacts/*
mlruns/**/outputs/*/*
!mlruns/**/meta.yaml
!mlruns/**/metrics/*
!mlruns/**/params/*
!mlruns/**/tags/*

