# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.env
.venv
env/
venv/

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# -------------------------------
# IGNORE ALL MODELS (PKL, MLflow)
# -------------------------------
models/


# Ignore MLflow binary model artifacts
mlruns/**/model.pkl
mlruns/**/requirements.txt
mlruns/**/python_env.yaml
mlruns/**/conda.yaml
mlruns/**/input_example.json
mlruns/**/serving_input_example.json
mlruns/**/artifacts/*
mlruns/**/outputs/*

# Allow MLflow metadata
!mlruns/**/meta.yaml
!mlruns/**/metrics/**
!mlruns/**/params/**
!mlruns/**/tags/**
!mlruns/**/models/*.dvc

# --------------------------------
# IGNORE METRICS IMAGES + JSON
# --------------------------------
metrics/
# --------------------------------
# DVC internal
# --------------------------------
.dvc/cache/
.dvc/tmp/

# --------------------------------
# DVC tracked artifacts
# --------------------------------
data/*
!data/*.dvc
